<extend name="Public/base" />

<block name="body">
  <!-- 标题栏 -->
  <div class="cf">
    <div class="fl"> <a class="btn" href="{:U('add')}">添 加</a>
      <button class="btn ajax-post" url="{:U('state', ['method'=>'resume'])}" target-form="ids">启 用</button>
      <button class="btn ajax-post" url="{:U('state', ['method'=>'forbid'])}" target-form="ids">禁 用</button>
      
      <button class="btn ajax-post confirm" url="{:U('state', ['method'=>'remove'])}" target-form="ids">删 除</button>
    </div>
    
  </div>
  <!-- 数据列表 -->
  <div class="data-table table-striped">
    <table class="">
      <thead>
        <tr>
          <th class="row-selected row-selected"><input class="check-all" type="checkbox"></th>
          <th>username</th>
			<th>password</th>
			<th>email</th>
			<th>mobile</th>
			<th>reg_time</th>
			<th>reg_ip</th>
			<th>last_login_time</th>
			<th>last_login_ip</th>
			<th>update_time</th>
			<th class="text-center">操作</th>
        </tr>
      </thead>
      <tbody>
      <notempty name="list">
			<volist name="list" id="v">
				<tr>
					<td><input class="ids" type="checkbox" name="id[]" value="{$v.id}"></td>
					<td>{$v.username}</td>
					<td>{$v.password}</td>
					<td>{$v.email}</td>
					<td>{$v.mobile}</td>
					<td>{$v.reg_time}</td>
					<td>{$v.reg_ip}</td>
					<td>{$v.last_login_time}</td>
					<td>{$v.last_login_ip}</td>
					<td>{$v.update_time}</td>
					<td class="text-center">
					<eq name="v.status" value="1">
					<a href="{:U('state', ['id'=>$v['id'],'method'=>'forbid'])}" class="ajax-get">禁用</a>
					<else/>
					<a href="{:U('state', ['id'=>$v['id'],'method'=>'resume'])}" class="ajax-get">启用</a>
					</eq> | <a href="{:U('edit', ['id'=>$v['id']])}">编辑</a> | <a href="{:U('state', ['id'=>$v['id'],'method'=>'remove'])}" class="confirm ajax-get">删除</a>
					</td>
				</tr>
			</volist>
		<else/>
			<td colspan="11" class="text-center">aOh!暂时还没有内容!</td>
		</notempty>
      </tbody>
    </table>
  </div>
  <div class="page">{$_page}</div>
</block>

<block name="script">
<script type="text/javascript">
//导航高亮
highlight_subnav('{:U("User/index")}');
</script>
</block>
